Repository scrapinghub/spidermon, pull requests merged in 2019-01, with the labels that each got.

#71 Docs
  README.md
  docs/Makefile
  docs/getting-started.md
  docs/source/_static/email1.png
  docs/source/_static/email2.png
  docs/source/_static/slack_notification.png
  docs/source/actions.rst
  docs/source/description.rst
  docs/source/getting-started.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/item-validation.rst
  docs/source/monitors.rst
  docs/source/settings.rst
  examples/example_01.py
  examples/tutorial/scrapy.cfg
  examples/tutorial/tutorial/__init__.py
  examples/tutorial/tutorial/items.py
  examples/tutorial/tutorial/middlewares.py
  examples/tutorial/tutorial/monitors.py
  examples/tutorial/tutorial/pipelines.py
  examples/tutorial/tutorial/settings.py
  examples/tutorial/tutorial/spiders/__init__.py
  examples/tutorial/tutorial/spiders/quotes.py
  examples/tutorial/tutorial/validators.py
  requirements-docs.txt
Labels: docs, os-release

#81 Suggest PyPI as recommended installation source
  docs/source/installation.rst
Labels: Type: Docs

#78 Updated readme file
  README.md
  README.rst
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement
